doctype html  
html(lang='fr')  
 head
  title Miniature Hetpa Guacamole
  meta(charset='utf-8')
  meta(name='description', content='Miniature Hetpa Guacamole')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  script(src="mhg-app.js")
 body
  p Test
  
  #header .w3-container .w3-teal
    h1 Topbar

  #main .w3-container .w3-teal
    h1 Main

  #footer .w3-container .w3-teal
    h1 Bottom ToolBar